<div 
    class="mob"
    ondragover="event.preventDefault();"
    draggable="true"
    @ondragstart="@OnDragStart"
    @ondrop="@OnDrop"
    @ondragenter="@OnDragEnter"
    @ondragleave="@OnDragLeave">

    @if (mob != null)
    {
        <div>@mob.Name</div>
        <br>
        <img src="@mob.Image"/>
    }
</div>
