@page "/AddInventaire"

<h3>Ajout d'outils dans l'inventaire</h3>

<p>Utilisez le formulaire ci-dessous pour ajouter un item dans votre inventaire</p>

<EditForm Model="@tool" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
<p>
        <label for="name">
            Nom:
            <InputText id="name" @bind-Value="tool.ToolName" />
        </label>
    </p>
        <p>
        <label for="tool-max-durability">
            Durabilité de l'outil :
            <InputNumber id="tool-max-durability" @bind-Value="tool.ToolMaxDurability"/>
        </label>
    </p>
        <p>
        Enchantements:
        <div>
            @foreach (var item in EnchantCategories)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnEnchantCategoriesChange(item, e.Value))" />@item
                </label>
            }
        </div>
    </p>
 
       <p>
        A réparer avec :
        <div>
            @foreach (var item in RepairWith)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnRepairWithChange(item, e.Value))" />@item
                </label>
            }
        </div>
    </p>
    <p>
        A construire avec :
        <div>
            @foreach (var item in BuildWith)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnRepairWithChange(item, e.Value))" />@item
                </label>
            }
        </div>
    </p>
    <p>
        <label>
            Image de l'outil:
            <InputFile OnChange="@LoadImage" accept=".png" />
        </label>
    </p>
    <p>
        <label>
            Usage réservé à l'outil:
            <InputText id="toolUse" @bind-Value="tool.ToolUse" />
        </label>
    </p>

    <button type="submit">Ajouter</button>
</EditForm>
