@page "/biome"
@using BlazorApp1.Models

<PageTitle>Biomes</PageTitle>

<h1>Sur cette page vous retrouverez l'intégralitée des biomes présent dans le jeu Minecraft ainsi que quelques informations sur ceux-ci</h1>

<DataGrid TItem="BiomeItem"
          Data="@biomes"
          ReadData="@OnReadData"
          TotalItems="@totalBiomes"
          PageSize="7"
          ShowPager
          Responsive>

    <DataGridColumn TItem="BiomeItem" Field="@nameof(BiomeItem.Nom)" Caption="Nom du biome" />
    <DataGridColumn TItem="BiomeItem" Field="@nameof(BiomeItem.VersionAjout)" Caption="Version d'ajout" />
    <DataGridColumn TItem="BiomeItem" Field="@nameof(BiomeItem.Environemment)" Caption="Type d'environnement" />
    <DataGridColumn Field="@(nameof(BiomeItem.Image))" Caption="Image du biome">
        <DisplayTemplate>
            <a href="biomemobs/@(1)" class="btn btn-primary">
                <img src="@context.Image" class="img-thumbnail"/>
            </a>
        </DisplayTemplate>
    </DataGridColumn>
</DataGrid>