@page "/edit/{Id:int}"

<h3>@Localizer["Title"]</h3>

<div>@Localizer["Param"]: @Id</div>

<EditForm Model="@toolModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label for="name">
            @Localizer["Propriete1"] :
            <InputText id="name" @bind-Value="toolModel.ToolName" />
        </label>
    </p>
    <p>
        <label for="tool-max-durability">
            @Localizer["Propriete2"] :
            <InputNumber id="tool-max-durability" @bind-Value="toolModel.ToolMaxDurability" />
        </label>
    </p>
    <p>
        @Localizer["Propriete3"] :
        <div>
            @foreach (var item in EnchantCategories)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnEnchantCategoriesChange(item, e.Value))" checked="@(toolModel.EnchantCategories.Contains(item) ? "checked" : null)" />@item
                </label>
            }
        </div>
    </p>
    <p>
        @Localizer["Propriete4"] :
        <div>
            @foreach (var item in RepairWith)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnRepairWithChange(item, e.Value))" checked="@(toolModel.RepairWith.Contains(item) ? "checked" : null)" />@item
                </label>
            }
        </div>
    </p>

    <p>
        @Localizer["Propriete5"] :
        <div>
            @foreach (var item in BuildWith)
            {
                <label>
                    <input type="checkbox" @onchange="@(e => OnBuildWithChange(item, e.Value))" checked="@(toolModel.BuildWith.Contains(item) ? "checked" : null)" />@item
                </label>
            }
        </div>
    </p>
    <p>
        <label>
            @Localizer["Propriete6"] :
            @if (File.Exists($"{WebHostEnvironment.WebRootPath}/images/{toolModel.ToolName}.png"))
            {
                <img src="images/@(toolModel.ToolName).png" class="img-thumbnail" alt="@toolModel.ToolName" style="max-width: 150px" />
            }
            else
            {
                <img src="images/default.png" class="img-thumbnail"  alt="@toolModel.ToolName" style="max-width: 150px" />
            }
        </label>
    </p>
    <p>
        <label>
            @Localizer["Propriete7"] :
            <InputFile OnChange="@LoadImage" accept=".png" />
        </label>
    </p>

    <button type="submit">@Localizer["Button"] </button>
</EditForm>