@page "/"

<LanguageSelector />

<PageTitle>@Localizer["Title"]</PageTitle>

<div class="presentation">
    <h1>@Localizer["ApplicationName"]</h1>

    <h3>@Localizer["Question1"]</h3>

    <p>
        @Localizer["Presentation"]<br />
        <ul>
            <li>@Localizer["Li1"]</li>
            <li>@Localizer["Li2"]</li>
            <li>@Localizer["Li3"]</li>
        </ul>
    </p>
</div>